{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Ali Aslam</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <br>
    <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card card-body" id="profile-wrapper">
 <img id="profile-pic" src="{% static '/images/Profileimage.jpeg' %}" >
 <hr>
 <h3>Hi, I'm Ali.</h3>
 <p><b>{Programmer}</b></p>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card card-body">
<h3>Objective</h3>
<hr>
<p>
  A recent Computer Science graduate looking for a job in software house. Motivated and enthusiastic about my work and
cooperative team member. I want to become the part of an excellent organization as Software Engineer and want to turn my
 knowledge and determination to turn information into action and intend to learn more and more to enhance
my leadership and technical skills while working with a team of professionals. I strongly believe
that mindfulness in the workplace of an excellent organization is a key to success.
<ul class="social-links">
						<li><a href="https://web.facebook.com/profile.php?id=100008075448040"><img href="#" class="social" src="{% static 'images/facebook.png' %}"></a></li>
						<li><a href="https://www.linkedin.com/in/ali-aslam-333522190/"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
            <li><a href="https://www.linkedin.com/in/ali-aslam-333522190/"><img class="social" src="{% static 'images/github.png' %}"></a></li>
					</ul>
</p>
        </div>
      </div>
    </div>
<br>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-body">
<h3>What I Know</h3><hr>
          <p>
          Python, Django, HTML, CSS, JavaScript, Bootstrap,
          MySql and SQL.<br>
          PS: Working on Artificial Intelligence,Node JS and Mongo DB.
        </p></div>
      </div>
      <div class="col-md-6">
        <div class="card card-body">
        <h3>My Short Term Goals</h3><hr><p>
I want to become a Full Stack Web Developer and also want to get hand on experience in Machine Learning.
          </p>
        </div>
      </div>
      </div>

  </body>
</html>
